.dashboard-main {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.dashboard-container {
  border-radius: 1rem;
  max-width: 70rem;
  width: 98%;

  font-family: 'Rajdhani', sans-serif;

  color: white;
}

.dashboard-text-header {
  font-size: 3rem;
}

.delete-item-button {
  flex-shrink: 0;
  cursor: pointer;
  font-size: 2.5rem;
  transition: color 0.5s;
}

.delete-item-button:hover {
  color: rgb(230, 57, 57);
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
  font-size: 2rem;
  margin-top: 1rem;

  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.055);
}

.item-todo-text {
  overflow-wrap: anywhere;
}

.item-text-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashbaord-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashbaord-plus-icon {
  font-size: 5rem;
  cursor: pointer;
  transition: color 0.5s;
}

.dashbaord-plus-icon:hover {
  color: #b6b6b6;
}


input[type="checkbox"] {
  flex-shrink: 0;
  cursor: pointer;
  accent-color: #1b1b1b;
  width: 2rem;
  height: 2rem;
}

.create-todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-create-todo {
  width: 100%;
  height: 4rem;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 1rem;
  margin-right: 1rem;

  color: #1b1b1b;
  font-size: 1.5rem
}

.textline {
  text-decoration-line: line-through;
}