.navbar-full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

.navbar-container {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 140rem;
}

.navbar-text {
  font-size: 3rem;
}

.navbar-logo {
  font-size: 3rem;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}

.navbar-buttons-link {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.733);
  transition: 0.5s;
}

.navbar-buttons-link:hover {
  cursor: pointer;
  color: white;
}

.signup-button {
  padding: 0.3rem 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.733);
  border-radius: 0.5rem;
}

.signup-button:hover {
  border: 1px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
}