.navbar-full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}

.navbar-container {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 140rem;
}

.navbar-text {
  font-size: 3rem;
}

.navbar-logo {
  font-size: 3rem;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}

.navbar-buttons-link {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.733);
  transition: 0.5s;
}

.navbar-buttons-link:hover {
  cursor: pointer;
  color: white;
}

.navbar-user-picture {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  cursor: pointer;
}

.navbar-user-picture:hover {
  color: rgba(255, 255, 255, 0.836);
}

.signup-button {
  padding: 0.3rem 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.733);
  border-radius: 0.5rem;
}

.signup-button:hover {
  border: 1px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.dropdownmenu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-top: 0.6rem;

  border: none;
  outline: none;
}

.dropdownmenu-items:hover {
  color: rgb(37, 37, 37);
}

.dropdownmenu-content {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}

.dropdowmenu-username {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  outline: none;
}