.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;
}

.form-singup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-h1 {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.form-input-container {
  height: 7rem;
  margin-bottom: 1rem;
}

.form-input {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.8rem;
  color: white;

  width: 35rem;
  height: 5rem;

  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.733);
  outline: none;
  padding: 1rem;
  background-color: black;
}

.input-error {
  border: 1px solid rgb(250, 62, 62);
  outline: none;
}

.input-error-message {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  color: rgb(250, 62, 62);
}

.form-submit-button {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;

  width: 35rem;
  height: 4.8rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  cursor: pointer;

}

.form-submit-button:hover {
  border: 1px solid white;
  background-color: black;
  color: white;
}

@media (max-width: 365px) {
  .form-input {
    width: 100%;
  }

  .form-submit-button {
    width: 100%;
  }

  .form-singup {
    width: 95%;
  }

  .form-input-container {
    width: 100%;
  }
}