@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

*,
*:after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: #000000;
}

.Toastify__toast--error {
  font-size: 1.8rem;
}

.homepage-title {
  color: white;
  font-size: 5rem;
  text-align: center;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
}